In [243]:
import pandas as pd
from scipy import interpolate
import matplotlib.pyplot as plt
import numpy as np
from mpl_toolkits import mplot3d

In [244]:
data_entropy = pd.read_csv('r134aentropymatrix.csv', header = None)
data_pressure = pd.read_csv('data_p.csv', header = None)
data_dt = np.arange(0,105,5)

data_entropy.head(n=5)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,1.946,1.963,1.979,1.996,2.013,2.029,2.045,2.061,2.077,2.093,...,2.124,2.139,2.154,2.169,2.184,2.199,2.214,2.229,2.243,2.258
1,1.920,1.937,1.954,1.970,1.987,2.003,2.019,2.035,2.050,2.066,...,2.097,2.112,2.127,2.142,2.157,2.172,2.186,2.201,2.216,2.230
2,1.897,1.914,1.931,1.947,1.963,1.979,1.995,2.011,2.026,2.042,...,2.072,2.088,2.103,2.117,2.132,2.147,2.162,2.176,2.190,2.205
3,1.877,1.893,1.910,1.926,1.942,1.958,1.974,1.989,2.005,2.020,...,2.051,2.066,2.080,2.095,2.110,2.124,2.139,2.153,2.168,2.182
4,1.858,1.875,1.891,1.907,1.923,1.939,1.954,1.970,1.985,2.001,...,2.031,2.046,2.060,2.075,2.090,2.104,2.119,2.133,2.147,2.161

In [245]:
data_pressure.head(n=5)

       0
0  0.006
1  0.009
2  0.015
3  0.024
4  0.037

In [246]:
data_dt

array([  0,   5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,
        65,  70,  75,  80,  85,  90,  95, 100])

In [247]:
dt_grid, pressure_grid = np.meshgrid(data_dt, data_pressure)

dt_grid.shape

(42, 21)

In [248]:
pressure_grid.shape

(42, 21)

In [250]:
data_entropy.shape

(42, 21)

In [252]:
entropyfunction = interpolate.interp2d(dt_grid, pressure_grid, data_entropy)

In [253]:
entropyfunction(5,4)

array([1.83972168])